*{
    font-family: "Crimson Pro", "Playfair Display", serif;
}

body {
    background-color: rgb(252, 144, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box{
    background-color: rgb(255, 0, 221);
    margin: 100px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.herQuote {
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #ccc;
    transition: border-color 0.3s, background-color 0.3s;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .herQuote {
        width: 90%;
        padding: 15px;
    }

    input {
        width: 85%;
    }
    
}

@media (max-width: 480px) {
    .herQuote {
        width: 80%;
        padding: 15px;
    }

    input {
        width: 95%;
    }
}

.quote{
    font-size: 16px; 
    color: white; 
    font-weight: 700;
}

.quote2{
    color: #4B0082;
    font-size: 18px;
}

.material-symbols-outlined{
    color: white; 
    font-size: 36px; 
    padding: 10px;
}


.btn-viewNote{
    width: 40%;
    text-decoration: none;
}

.viewNote{width: 100%;
text-decoration: none;}


.viewNote{
    display: block;
    padding: 10px; 
    width: 100%;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #4B0082;
    font-weight: 700;
    transition: 0.5s;
}

.viewNote:hover{
    background-color: #FFD700;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}
input{
    padding: 0 20px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
}

input:focus{
    background-color: rgb(217, 250, 217);
    outline: none;
}
label{
    position: relative;
    margin-top: 10px;
    top: 6px
}
.psd{margin-bottom: 30px;}
.p{color: red;}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
}

/* Error styling */
.shake-error {
    animation: shake 0.3s ease-in-out;
    border-color: red;
    background-color: red;
}

.errorMsg {
    color: black;
    text-align: center;
}