body {
    background-color: rgb(156, 220, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    font-weight: 800;
    /* overflow-y: hidden;     */
}
.container{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.myAnswer{
    margin-top: 0px;
    display: flex;
    width: 90%;
    height: 80px;
    align-items: end;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    position: fixed;
    background-color: rgb(156, 220, 245);
    top: 5px;
    z-index: 100;
}

.dil-ki-Bat{
    color: #663300;
    background-color: #f4d3d3;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: blue;
    position: fixed;
    top: 105px;
    z-index: 1000;
}
.topic{
    padding: 10px;
    font-size: 18px;
    color: blue;
    text-transform: uppercase;
}
.myQuotes {
    padding: 20px;
    background-color: #f4d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 160px;
    z-index: 1;
}

.bothButtons{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-decoration: none;
    overflow-x: hidden;
}
.bothButtons > a{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    text-decoration: none;
}
.nextButton{
    background-color: #B76E79;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
    cursor: pointer;
}
.nextButton:hover{background-color: white;}
.prevButton{
    background-color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
    cursor: pointer;
}
.prevButton:hover{background-color: #B76E79;}

.linesForHer{
    margin: 5px;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.linesForHer:hover{
    background-color: rgb(247, 163, 191); 
}

.title{color: black;}
.detail{color: #663300;}
.secrets{color: #663300;}

.secrets {
    display: none;
    text-align: center;
}
.linesForHer:hover .secrets {
    display: inline;
}

.circles{width: 80%;}

@media (max-width: 768px) {
    .herQuote {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .herQuote {
        width: 100%;
        padding: 15px;
    }

    .bothButtons > a {
        width: 45%;
    }

    .nextButton, .prevButton {
        font-size: 14px;
    }

    .myAnswer{
        width: 80%;
        padding: 5px;
        top: 0px;
    }

    .dil-ki-Bat{
        top: 90px;
    }

    .myQuotes {
        width: 80%;
    }

    .topic {
        font-size: 16px;
    }

    .myAnswer {
        font-size: 14px;
    }
}